OPENAI_API_KEY=your_openai_api_key_here
UPSTASH_VECTOR_REST_URL="your-upstash-url-here"
UPSTASH_VECTOR_REST_TOKEN="your-upstash-token-here"
APP_PASSWORD=PASSWORD
OPENAI_CHAT_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
